.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: dashed transparent 1px;
  padding-bottom: 25px;
}

.container img {
  max-height: 100%;
  max-width: 100%;
}

.description-text {
  text-indent: 50px;
  text-align: justify;
  margin-right: 25px;
}

.btn-primary {
  margin-top: 30px;
  margin-left: 650px;
}
